openapi: 3.1.0
info:
  title: deepidv Public API
  version: 0.1.0
  description: Server-to-server endpoints for the deepidv identity verification
    platform. Authenticate with a per-organization API key via the `x-api-key`
    header.
servers:
  - url: https://api.deepidv.com
    description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Per-organization API key. Issued via the deepidv dashboard. Send on
        every request.
  schemas:
    AdverseMediaResponse:
      type: object
      properties:
        totalHits:
          type: integer
        riskLevel:
          type: string
          enum:
            - LOW
            - MEDIUM
            - HIGH
            - CRITICAL
        riskScore:
          type: integer
          minimum: 0
          maximum: 100
        summary:
          type: string
        findings:
          type: array
          items:
            type: object
            properties:
              findingId:
                type: string
              severity:
                type: string
                enum:
                  - MEDIUM
                  - HIGH
                  - CRITICAL
              category:
                type: string
              title:
                type: string
              detail:
                type: string
              sourceUrl:
                type:
                  - string
                  - "null"
              sourceName:
                type:
                  - string
                  - "null"
              articleDate:
                type:
                  - string
                  - "null"
              confidence:
                type: number
                minimum: 0
                maximum: 1
              confirmedBy:
                type: array
                items:
                  type: string
            required:
              - findingId
              - severity
              - category
              - title
              - detail
              - sourceUrl
              - sourceName
              - articleDate
              - confidence
              - confirmedBy
        exposuresByCategory:
          type: object
          properties:
            financial_crime: &a1
              type: object
              properties:
                hits:
                  type: integer
                articles:
                  type: array
                  items:
                    type: object
                    properties:
                      timestamp:
                        type:
                          - string
                          - "null"
                      headline:
                        type: string
                      sourceLink:
                        type:
                          - string
                          - "null"
                      source:
                        type: string
                        enum:
                          - news
                          - court-records
                          - watchlist-database
                    required:
                      - timestamp
                      - headline
                      - sourceLink
                      - source
              required:
                - hits
                - articles
            terrorism: *a1
            regulatory: *a1
            political: *a1
            organized_crime: *a1
            violent_crime: *a1
            criminal_legal: *a1
            reputational: *a1
            court_records: *a1
      required:
        - totalHits
        - riskLevel
        - riskScore
        - summary
        - findings
        - exposuresByCategory
      description: Result of an adverse media screening including risk score,
        findings, and exposure breakdown by category.
    TitleCheckResponse:
      oneOf:
        - type: object
          properties:
            status:
              type: string
              enum:
                - found
            subjectProperty:
              type:
                - object
                - "null"
              properties:
                APNFormatted:
                  type:
                    - string
                    - "null"
                APNUnformatted:
                  type:
                    - string
                    - "null"
                PropertyFullStreetAddress:
                  type:
                    - string
                    - "null"
                PropertyCity:
                  type:
                    - string
                    - "null"
                PropertyState:
                  type:
                    - string
                    - "null"
                PropertyZipCode:
                  type:
                    - string
                    - "null"
                PropertyCounty:
                  type:
                    - string
                    - "null"
                LegalDescription:
                  type:
                    - string
                    - "null"
                PropertyType:
                  type:
                    - string
                    - "null"
                LandUseCode:
                  type:
                    - string
                    - "null"
                LandUseDescription:
                  type:
                    - string
                    - "null"
                Zoning:
                  type:
                    - string
                    - "null"
                LotSizeAcres:
                  type:
                    - number
                    - "null"
                LotSizeSqFt:
                  type:
                    - number
                    - "null"
                YearBuilt:
                  type:
                    - integer
                    - "null"
                Bedrooms:
                  type:
                    - integer
                    - "null"
                Bathrooms:
                  type:
                    - number
                    - "null"
                BuildingAreaSqFt:
                  type:
                    - number
                    - "null"
                Stories:
                  type:
                    - number
                    - "null"
              required:
                - APNFormatted
                - APNUnformatted
                - PropertyFullStreetAddress
                - PropertyCity
                - PropertyState
                - PropertyZipCode
                - PropertyCounty
                - LegalDescription
                - PropertyType
                - LandUseCode
                - LandUseDescription
                - Zoning
                - LotSizeAcres
                - LotSizeSqFt
                - YearBuilt
                - Bedrooms
                - Bathrooms
                - BuildingAreaSqFt
                - Stories
            ownerInformation:
              type:
                - object
                - "null"
              properties:
                Owner1LastName:
                  type:
                    - string
                    - "null"
                Owner1FirstNameMiddleInitial:
                  type:
                    - string
                    - "null"
                Owner2LastName:
                  type:
                    - string
                    - "null"
                Owner2FirstNameMiddleInitial:
                  type:
                    - string
                    - "null"
                MailingFullStreetAddress:
                  type:
                    - string
                    - "null"
                MailingCity:
                  type:
                    - string
                    - "null"
                MailingState:
                  type:
                    - string
                    - "null"
                MailingZipCode:
                  type:
                    - string
                    - "null"
                VestingOwnershipRights:
                  type:
                    - string
                    - "null"
                OwnerOccupied:
                  type:
                    - string
                    - "null"
              required:
                - Owner1LastName
                - Owner1FirstNameMiddleInitial
                - Owner2LastName
                - Owner2FirstNameMiddleInitial
                - MailingFullStreetAddress
                - MailingCity
                - MailingState
                - MailingZipCode
                - VestingOwnershipRights
                - OwnerOccupied
            locationInformation:
              type:
                - object
                - "null"
              properties:
                County:
                  type:
                    - string
                    - "null"
                CensusTract:
                  type:
                    - string
                    - "null"
                CensusBlock:
                  type:
                    - string
                    - "null"
                Municipality:
                  type:
                    - string
                    - "null"
                SchoolDistrict:
                  type:
                    - string
                    - "null"
                FloodZone:
                  type:
                    - string
                    - "null"
                FloodPanelNumber:
                  type:
                    - string
                    - "null"
                Neighborhood:
                  type:
                    - string
                    - "null"
              required:
                - County
                - CensusTract
                - CensusBlock
                - Municipality
                - SchoolDistrict
                - FloodZone
                - FloodPanelNumber
                - Neighborhood
            ownerTransferInformation:
              type:
                - object
                - "null"
              properties:
                TransferDocumentNumber:
                  type:
                    - string
                    - "null"
                TransferRecordingDate:
                  type:
                    - string
                    - "null"
                TransferSaleDate:
                  type:
                    - string
                    - "null"
                TransferDeedType:
                  type:
                    - string
                    - "null"
                TransferSalePrice:
                  type:
                    - number
                    - "null"
              required:
                - TransferDocumentNumber
                - TransferRecordingDate
                - TransferSaleDate
                - TransferDeedType
                - TransferSalePrice
            lastMarketSaleInformation:
              type:
                - object
                - "null"
              properties:
                SaleDate:
                  type:
                    - string
                    - "null"
                SalePrice:
                  type:
                    - number
                    - "null"
                SaleDocumentNumber:
                  type:
                    - string
                    - "null"
                SaleDeedType:
                  type:
                    - string
                    - "null"
                RecordingDate:
                  type:
                    - string
                    - "null"
                Buyer:
                  type:
                    - string
                    - "null"
                Seller:
                  type:
                    - string
                    - "null"
                PricePerSqFt:
                  type:
                    - number
                    - "null"
              required:
                - SaleDate
                - SalePrice
                - SaleDocumentNumber
                - SaleDeedType
                - RecordingDate
                - Buyer
                - Seller
                - PricePerSqFt
          required:
            - status
            - subjectProperty
            - ownerInformation
            - locationInformation
            - ownerTransferInformation
            - lastMarketSaleInformation
        - type: object
          properties:
            status:
              type: string
              enum:
                - multiple_properties
            message:
              type: string
            availableUnits:
              type: array
              items:
                type: string
            properties:
              type: array
              items:
                type: object
                properties:
                  owner:
                    type: string
                  apartmentOrUnit:
                    type: string
                required:
                  - owner
                  - apartmentOrUnit
          required:
            - status
            - message
            - availableUnits
            - properties
        - type: object
          properties:
            status:
              type: string
              enum:
                - unsupported_region
            message:
              type: string
              enum:
                - Title search is currently available for US addresses only.
          required:
            - status
            - message
        - type: object
          properties:
            status:
              type: string
              enum:
                - not_found
            message:
              type: string
          required:
            - status
            - message
      description: "Result of a title/property search. Discriminated on `status`:
        found, multiple_properties, unsupported_region, or not_found."
    ScanDocumentResponse:
      type: object
      properties:
        documentType:
          type: string
        fullName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        dateOfBirth:
          type: string
        gender:
          type: string
        nationality:
          type: string
        documentNumber:
          type: string
        expirationDate:
          type: string
        issuingCountry:
          type: string
        address:
          type: string
        mrzData:
          type: string
        rawFields:
          type: object
          additionalProperties:
            type: string
        confidence:
          type: number
          minimum: 0
          maximum: 1
          description: Average extraction confidence across all detected fields, 0–1.
      required:
        - documentType
        - fullName
        - firstName
        - lastName
        - dateOfBirth
        - gender
        - nationality
        - documentNumber
        - expirationDate
        - issuingCountry
        - rawFields
        - confidence
      description: Structured identity data extracted from a document image via AWS
        Textract AnalyzeID.
    ErrorResponse:
      anyOf:
        - $ref: "#/components/schemas/SimpleErrorResponse"
        - $ref: "#/components/schemas/ValidationErrorResponse"
      description: "Shared error envelope returned by all server-to-server endpoints.
        The shape depends on the failure mode: validation failures include
        `message` + `hints`; all other failures return a single `error` string."
    SimpleErrorResponse:
      type: object
      properties:
        error:
          type: string
      required:
        - error
      description: Error returned for authentication failures, image format errors,
        and other terminal failures with a single human-readable message.
    ValidationErrorResponse:
      type: object
      properties:
        message:
          type: string
        hints:
          type: array
          items: {}
      required:
        - message
        - hints
      description: Error returned when the request body fails schema validation.
        `hints` contains the underlying Zod issues.
    ScanDocumentJsonRequest:
      type: object
      properties:
        image:
          $ref: "#/components/schemas/ImageAssetJson"
        documentType:
          $ref: "#/components/schemas/DocumentType"
      required:
        - image
    ImageAssetJson:
      type: string
      minLength: 1
      description: An image payload sent as a JSON string. Accepts a base64 string,
        base64url string, or an S3 object key for a file previously uploaded via
        the presigned-upload flow.
      example: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=
    DocumentType:
      type: string
      enum:
        - passport
        - drivers_license
        - national_id
        - auto
      description: Type of identity document. Use 'auto' to let the server infer the
        type from the document image.
      example: auto
    ScanDocumentMultipartRequest:
      type: object
      properties:
        image:
          $ref: "#/components/schemas/ImageAssetMultipart"
        documentType:
          $ref: "#/components/schemas/DocumentType"
      required:
        - image
    ImageAssetMultipart:
      type: string
      format: binary
      description: Binary image file uploaded as part of a multipart/form-data request.
    DetectFaceResponse:
      type: object
      properties:
        faceDetected:
          type: boolean
        confidence:
          type: number
          minimum: 0
          maximum: 1
          description: Detection confidence for the top face, 0–1.
        boundingBox:
          $ref: "#/components/schemas/BoundingBox"
        landmarks:
          type: array
          items:
            $ref: "#/components/schemas/Landmark"
      required:
        - faceDetected
        - confidence
      description: Result of face detection on a single image. When `faceDetected` is
        false, `confidence` is 0 and `boundingBox`/`landmarks` are omitted.
    BoundingBox:
      type: object
      properties:
        top:
          type: number
        left:
          type: number
        width:
          type: number
        height:
          type: number
      required:
        - top
        - left
        - width
        - height
      description: Normalized bounding-box coordinates (0–1) relative to the source
        image dimensions.
    Landmark:
      type: object
      properties:
        type:
          type: string
        x:
          type: number
        y:
          type: number
      required:
        - type
        - x
        - y
      description: A facial landmark point. Coordinates are normalized to the image
        dimensions.
    DetectFaceJsonRequest:
      type: object
      properties:
        image:
          $ref: "#/components/schemas/ImageAssetJson"
      required:
        - image
    DetectFaceMultipartRequest:
      type: object
      properties:
        image:
          $ref: "#/components/schemas/ImageAssetMultipart"
      required:
        - image
    CompareFacesResponse:
      type: object
      properties:
        isMatch:
          type: boolean
          description: True when `confidence` >= `threshold`.
        confidence:
          type: number
          description: "Raw similarity score from AWS Rekognition (0–100). Note: not
            normalized to 0–1."
        threshold:
          type: number
          description: Server-side similarity threshold used for `isMatch` (0–100).
        sourceFaceDetected:
          type: boolean
        targetFaceDetected:
          type: boolean
      required:
        - isMatch
        - confidence
        - threshold
        - sourceFaceDetected
        - targetFaceDetected
      description: Result of comparing a source and target face image. Returned with
        all fields set to false / 0 when either image contains no detectable
        face.
    CompareFacesJsonRequest:
      type: object
      properties:
        source:
          $ref: "#/components/schemas/ImageAssetJson"
        target:
          $ref: "#/components/schemas/ImageAssetJson"
      required:
        - source
        - target
    CompareFacesMultipartRequest:
      type: object
      properties:
        source:
          $ref: "#/components/schemas/ImageAssetMultipart"
        target:
          $ref: "#/components/schemas/ImageAssetMultipart"
      required:
        - source
        - target
    EstimateAgeResponse:
      type: object
      properties:
        faceDetected:
          type: boolean
        estimatedAge:
          type: integer
        ageRange:
          type: object
          properties:
            low:
              type: integer
            high:
              type: integer
          required:
            - low
            - high
        gender:
          type: string
          enum:
            - male
            - female
        genderConfidence:
          type: number
          minimum: 0
          maximum: 1
      required:
        - faceDetected
      description: Age and gender estimate for the most confident detected face. When
        `faceDetected` is false, only that field is present.
    CreateLivenessSessionResponse:
      type: object
      properties:
        liveness_session_id:
          type: string
          description: The Rekognition Face Liveness session id.
        region:
          type: string
          description: AWS region the liveness session runs in.
        credentials:
          $ref: "#/components/schemas/LivenessCredentials"
        expires_at:
          type: string
          format: date-time
          description: When the vended credentials expire (ISO 8601).
      required:
        - liveness_session_id
        - region
        - credentials
        - expires_at
    LivenessCredentials:
      type: object
      properties:
        access_key_id:
          type: string
        secret_access_key:
          type: string
        session_token:
          type: string
        expiration:
          type: string
          format: date-time
      required:
        - access_key_id
        - secret_access_key
        - session_token
        - expiration
      description: Temporary AWS credentials scoped to only
        rekognition:StartFaceLivenessSession, valid ~15 minutes.
    CreateLivenessSessionRequest:
      type: object
      properties:
        session_id:
          type: string
          description: Optional verification session to attach this liveness check to.
            When provided it must belong to the calling org; the liveness check
            is then billed as part of that session. When omitted, the check runs
            standalone and is billed per use.
        challenge_type:
          type: string
          enum:
            - FaceMovementChallenge
            - FaceMovementAndLightChallenge
          description: Liveness challenge to issue. Defaults to FaceMovementChallenge
            (move closer to the camera); FaceMovementAndLightChallenge adds the
            randomized colored-light sequence. Both are supported by every
            liveness provider.
    LivenessResultResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - SUCCEEDED
            - IN_PROGRESS
            - FAILED
          description: Normalized session status (Rekognition CREATED maps to IN_PROGRESS;
            EXPIRED maps to FAILED).
        confidence:
          type: number
          minimum: 0
          maximum: 100
          description: Liveness confidence 0–100 (absent until the session resolves).
        passed:
          type: boolean
          description: True when status is SUCCEEDED and confidence >= the threshold.
      required:
        - status
        - passed
      description: Face liveness result. `passed` applies the (overridable, default
        80) confidence threshold server-side.
    DeepFakePromptResponse:
      type: object
      properties:
        sessionId:
          type: string
          format: uuid
        challengeWord:
          type: string
      required:
        - sessionId
        - challengeWord
    DeepFakeUploadUrlsResponse:
      type: object
      properties:
        uploadUrls:
          type: object
          additionalProperties:
            type: string
        uploadKeys:
          type: object
          additionalProperties:
            type: string
        sessionId:
          type: string
      required:
        - uploadUrls
        - uploadKeys
        - sessionId
    DeepFakeUploadUrlsRequest:
      type: object
      properties:
        sessionId:
          type: string
        includeAudio:
          type: boolean
      required:
        - sessionId
        - includeAudio
    DeepFakeAnalyzeResponse:
      type: object
      properties:
        success:
          type: boolean
        passed:
          type: boolean
        confidence:
          type: number
        verdict:
          type: string
          enum:
            - LIVE
            - DEEPFAKE
            - INCONCLUSIVE
        riskScore:
          type: number
        trustVerdict:
          type: string
          enum:
            - PASS
            - REVIEW
            - REJECT
        trustScore:
          type: number
        challengeWord:
          type: string
        failureReasons:
          type: array
          items:
            type: string
        verificationId:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        details:
          $ref: "#/components/schemas/DeepFakeAnalyzeDetails"
      required:
        - success
        - passed
        - confidence
        - verdict
        - riskScore
        - trustVerdict
        - trustScore
        - failureReasons
        - verificationId
        - timestamp
        - details
    DeepFakeAnalyzeDetails:
      type: object
      properties:
        layers:
          type: object
          additionalProperties: {}
        avgLayerConfidence:
          type: number
        trustBreakdown:
          type: object
          additionalProperties:
            type: number
        degradedModules:
          type: array
          items:
            type: string
      required:
        - layers
        - avgLayerConfidence
        - trustBreakdown
        - degradedModules
    DeepFakeAnalyzeRequest:
      type: object
      properties:
        scanDurationMs:
          type: number
        challengeWord:
          type: string
        frameMeta:
          type: array
          items:
            type: object
            properties:
              actionId:
                type: string
              action:
                type: string
                enum:
                  - hold-still
                  - blink
                  - turn-left
                  - turn-right
                  - speak-prompt
              timestamp:
                type: number
              yaw:
                type: number
              pitch:
                type: number
              roll:
                type: number
              leftEyeOpenness:
                type: number
              rightEyeOpenness:
                type: number
              faceDetected:
                type: boolean
            required:
              - actionId
              - action
              - timestamp
              - yaw
              - pitch
              - roll
              - leftEyeOpenness
              - rightEyeOpenness
              - faceDetected
        s3Keys:
          type: object
          properties:
            frame_0:
              type: string
            frame_1:
              type: string
            frame_2:
              type: string
            frame_3:
              type: string
            frame_4:
              type: string
            frame_5:
              type: string
            audio_clip:
              type: string
            video_clip:
              type: string
          required:
            - frame_0
            - frame_1
            - frame_2
            - frame_3
            - frame_4
            - frame_5
      required:
        - scanDurationMs
        - frameMeta
        - s3Keys
    IdentityVerifyResponse:
      type: object
      properties:
        verified:
          type: boolean
        document:
          $ref: "#/components/schemas/IdentityVerifyDocument"
        faceDetection:
          $ref: "#/components/schemas/IdentityVerifyFaceDetection"
        faceMatch:
          $ref: "#/components/schemas/IdentityVerifyFaceMatch"
        overallConfidence:
          type: number
          minimum: 0
          maximum: 100
          description: Weighted aggregate confidence across document extraction, face
            detection, and face match (0–100).
      required:
        - verified
        - document
        - faceDetection
        - faceMatch
        - overallConfidence
      description: Combined result of document scan, face detection, and face
        comparison run in one server call.
    IdentityVerifyDocument:
      type: object
      properties:
        documentType:
          type: string
        fullName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        dateOfBirth:
          type: string
        gender:
          type: string
        nationality:
          type: string
        documentNumber:
          type: string
        expirationDate:
          type: string
        issuingCountry:
          type: string
        address:
          type: string
        confidence:
          type: number
          minimum: 0
          maximum: 100
          description: Average document-extraction confidence, 0–100.
      required:
        - documentType
        - fullName
        - firstName
        - lastName
        - dateOfBirth
        - gender
        - nationality
        - documentNumber
        - expirationDate
        - issuingCountry
        - confidence
      description: Subset of the document-scan response embedded in the verify result.
    IdentityVerifyFaceDetection:
      type: object
      properties:
        faceDetected:
          type: boolean
        confidence:
          type: number
          minimum: 0
          maximum: 100
          description: Detection confidence for the top face, 0–100.
      required:
        - faceDetected
        - confidence
    IdentityVerifyFaceMatch:
      type: object
      properties:
        isMatch:
          type: boolean
        confidence:
          type: number
          minimum: 0
          maximum: 100
          description: Best face-match similarity, 0–100.
        threshold:
          type: number
          minimum: 0
          maximum: 100
          description: Match threshold, 0–100.
      required:
        - isMatch
        - confidence
        - threshold
    IdentityVerifyJsonRequest:
      type: object
      properties:
        documentImage:
          $ref: "#/components/schemas/ImageAssetJson"
        faceImage:
          $ref: "#/components/schemas/ImageAssetJson"
        documentType:
          $ref: "#/components/schemas/DocumentType"
      required:
        - documentImage
        - faceImage
    IdentityVerifyMultipartRequest:
      type: object
      properties:
        documentImage:
          $ref: "#/components/schemas/ImageAssetMultipart"
        faceImage:
          $ref: "#/components/schemas/ImageAssetMultipart"
        documentType:
          $ref: "#/components/schemas/DocumentType"
      required:
        - documentImage
        - faceImage
    CreateSessionResponse:
      type: object
      properties:
        id:
          type: string
        session_url:
          type: string
        externalId:
          type: string
        expires_at:
          type: string
        links:
          type: array
          items:
            $ref: "#/components/schemas/Link"
      required:
        - id
        - session_url
        - links
      description: Returned after creating a session. `session_url` is the
        applicant-facing verification link.
    Link:
      type: object
      properties:
        rel:
          type: string
        href:
          type: string
        description:
          type: string
      required:
        - rel
        - href
      description: HATEOAS-style link to a related resource.
    CreateSessionRequest:
      type: object
      properties:
        email:
          type: string
          example: applicant@example.com
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Doe
        phone:
          type: string
          pattern: ^\+[1-9]\d{9,14}$
          example: "+15192223333"
          description: Phone number in E.164 format.
        externalId:
          type: string
          description: Caller-supplied identifier echoed back on responses and queryable
            via the list endpoint.
        sendEmailInvite:
          type: boolean
          description: Send the email invite. Defaults to true.
        sendPhoneInvite:
          type: boolean
          description: Send the SMS invite. Defaults to true.
        workflowId:
          type: string
          description: Workflow to run for this session. Without a workflowId the session
            is a legacy IDV verification.
        redirectUrl:
          type: string
          format: uri
          example: https://example.com/post-verify
          description: Must use HTTPS. Applicant is sent here after completion.
        expiresInHours:
          type: integer
          minimum: 1
          maximum: 8760
          description: Auto-expire the session after this many hours. Range 1–8760 (1
            year). Overrides any workflow-level expiry.
      required:
        - email
        - firstName
        - lastName
        - phone
      description: Body for creating an IDV/verification session. Snake_case keys are
        also accepted.
    ListSessionsResponse:
      type: object
      properties:
        sessions:
          type: array
          items:
            $ref: "#/components/schemas/SessionRecord"
        next_token:
          type:
            - string
            - "null"
      required:
        - sessions
        - next_token
    SessionRecord:
      type: object
      properties:
        id:
          type: string
        organization_id:
          type: string
        user_id:
          type: string
        sender_user_id:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        status:
          type: string
          description: One of PENDING, VERIFIED, REJECTED, EXPIRED.
        type:
          type: string
        session_progress:
          type: string
        external_id:
          type: string
        permalink_id:
          type: string
        location:
          type:
            - string
            - "null"
        submitted_at:
          type: string
        deep_sign_id:
          type: string
        face_liveness_session_id:
          type: string
        workflow_id:
          type: string
        bank_statement_request_id:
          type: string
        redirect_url:
          type: string
        expires_at:
          type: string
        workflow_steps:
          type: array
          items:
            type: string
        meta_data:
          type: object
          additionalProperties: {}
        uploads:
          type: object
          additionalProperties:
            type: boolean
          description: Map of upload slot → whether the applicant has uploaded that file.
            Keys are session-shape specific (e.g. id_front, selfie).
        analysis_data:
          type: object
          additionalProperties: {}
          description: Free-form analysis output. Shape depends on the workflow steps run.
      required:
        - id
        - organization_id
        - user_id
        - sender_user_id
        - created_at
        - updated_at
        - status
        - type
        - session_progress
      description: Server-side representation of a session.
    GetSessionResponse:
      type: object
      properties:
        session_record:
          $ref: "#/components/schemas/SessionRecord"
        resource_links:
          type: object
          additionalProperties:
            type: string
          description: Map of upload slot → S3 presigned GET URL for the
            applicant-uploaded asset. URLs expire on a fixed window.
        user:
          type: object
          additionalProperties: {}
        sender_user:
          type: object
          additionalProperties: {}
      required:
        - session_record
        - resource_links
    UpdateSessionStatusResponse:
      type: object
      properties:
        session_record:
          $ref: "#/components/schemas/SessionRecord"
      required:
        - session_record
    UpdateSessionStatusBody:
      type: object
      properties:
        new_status:
          type: string
          enum:
            - VERIFIED
            - REJECTED
      required:
        - new_status
    SessionUploadsResponse:
      type: object
      properties:
        signed_urls:
          type: array
          items:
            $ref: "#/components/schemas/SessionSignedUrlEntry"
      required:
        - signed_urls
    SessionSignedUrlEntry:
      type: object
      properties:
        file_key:
          type: string
          description: S3 object key under the sessions upload bucket. Echo this key in
            the step submission `uploads` map.
        upload_type:
          type: string
          enum:
            - id_front
            - id_back
            - secondary_id_front
            - secondary_id_back
            - tertiary_id_front
            - tertiary_id_back
            - selfie_front
        upload_url:
          type: string
          description: S3 presigned PUT URL. Send the file as the request body.
      required:
        - file_key
        - upload_type
        - upload_url
    SessionUploadsRequest:
      type: object
      properties:
        files:
          type: array
          items:
            $ref: "#/components/schemas/SessionUploadFile"
          minItems: 1
          description: One entry per file the caller intends to upload into the session
            uploads bucket.
      required:
        - files
    SessionUploadFile:
      type: object
      properties:
        file_name:
          type: string
          minLength: 1
          example: front.jpg
          description: Original file name. Its extension is used when building the S3
            object key (`{timestamp}-{upload_type}.{ext}`).
        content_type:
          type: string
          minLength: 1
          example: image/jpeg
          description: MIME type of the file. Signed into the presigned URL — the PUT must
            send the same Content-Type header.
        upload_type:
          type: string
          enum:
            - id_front
            - id_back
            - secondary_id_front
            - secondary_id_back
            - tertiary_id_front
            - tertiary_id_back
            - selfie_front
          description: Hosted-flow Uploads slot this file will occupy on the session record.
          example: id_front
      required:
        - file_name
        - content_type
        - upload_type
    ListWorkflowsResponse:
      type: object
      properties:
        workflows:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowSummary"
      required:
        - workflows
    WorkflowSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
        steps:
          type: array
          items:
            type: string
          description: Step ids in API form (UPPER_SNAKE).
        created_at:
          type: string
      required:
        - id
        - name
        - status
        - steps
        - created_at
    GetWorkflowResponse:
      type: object
      properties:
        workflow:
          $ref: "#/components/schemas/Workflow"
      required:
        - workflow
    Workflow:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
        organization_id:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        steps:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowStepResponse"
      required:
        - id
        - name
        - status
        - organization_id
        - created_at
        - updated_at
        - steps
    WorkflowStepResponse:
      type: object
      properties:
        id:
          type: string
          description: Workflow step identifier (db format, e.g. id-verification).
        config:
          type: object
          additionalProperties: {}
          description: Step-specific configuration in snake_case.
      required:
        - id
        - config
    CreateWorkflowResponse:
      type: object
      properties:
        workflow:
          $ref: "#/components/schemas/Workflow"
      required:
        - workflow
    CreateWorkflowRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: KYC + Liveness
        steps:
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                    enum:
                      - ID_VERIFICATION
                  config:
                    type: object
                    properties:
                      minimum_age:
                        type: integer
                        minimum: 1
                        maximum: 100
                      maximum_age:
                        type: integer
                        minimum: 1
                        maximum: 100
                      expiry_date_years:
                        type: integer
                        minimum: 0
                        maximum: 10
                      require_secondary_id:
                        type: boolean
                      require_tertiary_id:
                        type: boolean
                      face_front_photo_only:
                        type: boolean
                      require_front_only:
                        type: boolean
                      enable_fraud_analysis:
                        type: boolean
                      escalation_type:
                        type: string
                        enum:
                          - none
                          - nfc-passport
                      escalation_risk_threshold:
                        type: integer
                        minimum: 0
                        maximum: 100
                    additionalProperties: false
                required:
                  - id
              - type: object
                properties:
                  id:
                    type: string
                    enum:
                      - FACE_LIVENESS
                  config:
                    type: object
                    properties:
                      confidence_threshold:
                        type: integer
                        minimum: 1
                        maximum: 100
                    additionalProperties: false
                required:
                  - id
              - type: object
                properties:
                  id:
                    type: string
                    enum:
                      - AGE_ESTIMATION
                  config:
                    type: object
                    properties:
                      minimum_age:
                        type: integer
                        minimum: 1
                        maximum: 100
                    additionalProperties: false
                required:
                  - id
              - type: object
                properties:
                  id:
                    type: string
                    enum:
                      - PEP_SANCTIONS
                required:
                  - id
              - type: object
                properties:
                  id:
                    type: string
                    enum:
                      - ADVERSE_MEDIA
                required:
                  - id
              - type: object
                properties:
                  id:
                    type: string
                    enum:
                      - IP_JURISDICTION
                  config:
                    type: object
                    properties:
                      allowed_jurisdictions:
                        type: array
                        items:
                          type: string
                      blocked_jurisdictions:
                        type: array
                        items:
                          type: string
                      out_of_jurisdiction_action:
                        type: string
                        enum:
                          - block
                          - flag
                          - step-up
                          - allow
                      datacenter_ip_action:
                        type: string
                        enum:
                          - block
                          - flag
                          - step-up
                          - allow
                      trusted_ip_list:
                        type: array
                        items:
                          type: string
                      escalation_type:
                        type: string
                    additionalProperties: false
                required:
                  - id
              - type: object
                properties:
                  id:
                    type: string
                    enum:
                      - VPN_DETECTION
                  config:
                    type: object
                    properties:
                      vpn_enabled:
                        type: boolean
                      vpn_action:
                        type: string
                        enum:
                          - block
                          - flag
                          - step-up
                          - allow
                      datacenter_enabled:
                        type: boolean
                      datacenter_action:
                        type: string
                        enum:
                          - block
                          - flag
                          - step-up
                          - allow
                      tor_enabled:
                        type: boolean
                      tor_action:
                        type: string
                        enum:
                          - block
                          - flag
                          - step-up
                          - allow
                      trusted_ip_list:
                        type: array
                        items:
                          type: string
                      trusted_asn_list:
                        type: array
                        items:
                          type: string
                      confidence_threshold:
                        type: integer
                        minimum: 1
                        maximum: 100
                      escalation_type:
                        type: string
                    additionalProperties: false
                required:
                  - id
              - type: object
                properties:
                  id:
                    type: string
                    enum:
                      - INJECTION_DETECTION
                  config:
                    type: object
                    properties:
                      action_on_detection:
                        type: string
                        enum:
                          - block
                          - flag
                          - step-up
                          - rechallenge
                          - allow
                      automation_handling:
                        type: string
                        enum:
                          - block
                          - flag
                          - step-up
                          - ignore
                      confidence_threshold:
                        type: integer
                        minimum: 1
                        maximum: 100
                      escalation_type:
                        type: string
                    additionalProperties: false
                required:
                  - id
              - type: object
                properties:
                  id:
                    type: string
                    enum:
                      - ANTI_CHEAT
                  config:
                    type: object
                    properties:
                      duplicate_enabled:
                        type: boolean
                      match_threshold:
                        type: integer
                        minimum: 1
                        maximum: 100
                      action_on_duplicate:
                        type: string
                        enum:
                          - flag
                          - manual-review
                          - block
                          - allow
                      multi_account_enabled:
                        type: boolean
                      signal_ip_enabled:
                        type: boolean
                      signal_ip_weight:
                        type: number
                        minimum: 0
                        maximum: 1
                      signal_biometric_enabled:
                        type: boolean
                      signal_biometric_weight:
                        type: number
                        minimum: 0
                        maximum: 1
                      signal_document_enabled:
                        type: boolean
                      signal_document_weight:
                        type: number
                        minimum: 0
                        maximum: 1
                      signal_namedob_enabled:
                        type: boolean
                      signal_namedob_weight:
                        type: number
                        minimum: 0
                        maximum: 1
                      signal_device_enabled:
                        type: boolean
                      signal_device_weight:
                        type: number
                        minimum: 0
                        maximum: 1
                      link_sensitivity:
                        type: integer
                        minimum: 1
                        maximum: 5
                      action_on_multi_account:
                        type: string
                        enum:
                          - flag
                          - manual-review
                          - block
                          - allow
                      self_exclusion_enabled:
                        type: boolean
                    additionalProperties: false
                required:
                  - id
          minItems: 1
          maxItems: 10
          description: Ordered list of unique workflow steps. Max 10 steps; each id may
            appear at most once.
      required:
        - name
        - steps
      description: Body for creating a workflow.
    CreateWorkflowSessionResponse:
      type: object
      properties:
        session_id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        expires_at:
          type:
            - string
            - "null"
          example: 2026-08-01T00:00:00Z
          description: ISO 8601 expiry instant, or null when no expiry is configured.
        steps:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowSessionStep"
        current_step:
          type: integer
          minimum: 0
          example: 0
          description: Zero-based index into steps for the next executable step.
      required:
        - session_id
        - expires_at
        - steps
        - current_step
      description: Returned after creating a headless workflow session. No invite is
        sent and no hosted session_url is included.
    WorkflowSessionStep:
      type: object
      properties:
        step_id:
          type: string
          description: Step id in API form (UPPER_SNAKE), e.g. ID_VERIFICATION.
          example: ID_VERIFICATION
        status:
          type: string
          enum:
            - PENDING
            - IN_PROGRESS
            - COMPLETED
            - FAILED
            - SKIPPED
        requirements:
          $ref: "#/components/schemas/WorkflowStepRequirements"
      required:
        - step_id
        - status
        - requirements
    WorkflowStepRequirements:
      anyOf:
        - $ref: "#/components/schemas/IdVerificationRequirements"
        - $ref: "#/components/schemas/FaceLivenessRequirements"
      description: Client-facing capture requirements derived from the workflow step
        config. The shape depends on the step type.
    IdVerificationRequirements:
      type: object
      properties:
        document:
          type: object
          properties:
            require_front_only:
              type: boolean
              description: True only when requirements were resolved for a concrete front-only
                document type. On session-create / GET workflow this is always
                false — use `front_only_document_types` after the user selects a
                type.
            front_only_document_types:
              type: array
              items:
                type: string
              description: API document types that only require a front-side capture (no
                `*_back` upload).
              example:
                - passport
            require_secondary_id:
              type: boolean
            require_tertiary_id:
              type: boolean
            valid_id_types:
              type: array
              items:
                type: string
              description: Accepted document types, in stored form.
              example:
                - driver-license-us
                - passport-us
            valid_states:
              type: array
              items:
                type: string
              description: Accepted issuing states/provinces.
              example:
                - NY
                - ON
          required:
            - require_front_only
            - front_only_document_types
            - require_secondary_id
            - require_tertiary_id
            - valid_id_types
            - valid_states
        face:
          type: object
          properties:
            face_front_photo_only:
              type: boolean
          required:
            - face_front_photo_only
      required:
        - document
        - face
      description: Capture requirements for an ID_VERIFICATION step.
        Secondary/tertiary flags come from step config; front-vs-back capture is
        per document type via `front_only_document_types`. valid_id_types and
        valid_states are enforced during execution.
    FaceLivenessRequirements:
      type: object
      properties:
        challenge_type:
          type: string
          description: Liveness challenge the client should run.
          example: FaceMovementChallenge
        confidence_threshold:
          type: number
          description: Server-enforced pass mark for the liveness result.
          example: 70
      required:
        - challenge_type
        - confidence_threshold
    CreateWorkflowSessionRequest:
      type: object
      properties:
        email:
          type: string
          minLength: 1
          example: user@example.com
        first_name:
          type: string
          minLength: 1
          example: Jane
        last_name:
          type: string
          minLength: 1
          example: Doe
        phone:
          type: string
          pattern: ^\+[1-9]\d{9,14}$
          example: "+15192223333"
          description: Phone number in E.164 format.
        external_id:
          type: string
          description: Caller-supplied identifier echoed back on responses and queryable
            via list endpoints.
        expires_in_hours:
          type: integer
          minimum: 1
          maximum: 8760
          description: Auto-expire the session after this many hours. Range 1–8760 (1
            year). Overrides workflow settings.sessionExpiry.
      required:
        - email
        - first_name
        - last_name
        - phone
      description: Body for creating a headless workflow session (no invite, no hosted
        URL). Snake_case and camelCase keys are accepted at runtime.
    GetSessionWorkflowResponse:
      type: object
      properties:
        session_id:
          type: string
          example: 550e8400-e29b-41d4-a716-446655440000
        status:
          type: string
          description: Session status enum (e.g. PENDING, SUBMITTED, FAILED).
          example: PENDING
        session_progress:
          type: string
          description: One of PENDING, STARTED, COMPLETED.
          example: PENDING
        steps:
          type: array
          items:
            $ref: "#/components/schemas/GetSessionWorkflowStep"
        current_step:
          type:
            - integer
            - "null"
          minimum: 0
          description: Zero-based index into steps for the next executable step. Null when
            the run is finished.
          example: 1
        attempts_remaining:
          type:
            - integer
            - "null"
          minimum: 0
          description: Session-wide failure budget remaining when failureSettings.active;
            null when unlimited.
          example: 2
      required:
        - session_id
        - status
        - session_progress
        - steps
        - current_step
        - attempts_remaining
      description: Read-only workflow execution state for an SDK-run session. Safe to
        poll; used as the SDK resume path after app kill.
    GetSessionWorkflowStep:
      type: object
      properties:
        step_id:
          type: string
          description: Step id in API form (UPPER_SNAKE), e.g. ID_VERIFICATION.
          example: ID_VERIFICATION
        status:
          type: string
          enum:
            - PENDING
            - IN_PROGRESS
            - COMPLETED
            - FAILED
            - SKIPPED
        attempts:
          type: integer
          minimum: 0
          description: Per-step attempt counter (reporting only; budget is session-wide).
          example: 1
        started_at:
          type:
            - string
            - "null"
          description: ISO 8601 when the step entered IN_PROGRESS, or null.
        completed_at:
          type:
            - string
            - "null"
          description: ISO 8601 when the step reached a terminal status, or null.
        failure_reason:
          type:
            - string
            - "null"
          description: Set when the step last failed a blocking check; null otherwise.
        requirements:
          allOf:
            - $ref: "#/components/schemas/WorkflowStepRequirements"
            - description: Capture requirements for this step, always included so the client
                can render any step on resume.
      required:
        - step_id
        - status
        - attempts
        - started_at
        - completed_at
        - failure_reason
        - requirements
    SubmitWorkflowStepResponse:
      type: object
      properties:
        step_id:
          type: string
          description: Submitted step id in API form (UPPER_SNAKE).
          example: ID_VERIFICATION
        step_status:
          type: string
          enum:
            - PENDING
            - IN_PROGRESS
            - COMPLETED
            - FAILED
            - SKIPPED
          description: Resulting status of the submitted step after this call.
          example: COMPLETED
        failure_reason:
          type:
            - string
            - "null"
          description: Set when a blocking check failed this attempt; null on success.
          example: null
        current_step:
          type:
            - integer
            - "null"
          minimum: 0
          description: Zero-based index of the next executable step after this submission.
            Null when the run is finished.
          example: 1
        attempts_remaining:
          type:
            - integer
            - "null"
          minimum: 0
          description: Session-wide failure budget remaining when failureSettings.active;
            null when unlimited.
          example: 2
        session_status:
          type: string
          description: Session status after this submission (e.g. PENDING, SUBMITTED,
            FAILED).
          example: PENDING
        session_progress:
          type: string
          description: Session progress after this submission (PENDING, STARTED, or
            COMPLETED).
          example: STARTED
        liveness:
          anyOf:
            - $ref: "#/components/schemas/FaceLivenessStartResult"
            - $ref: "#/components/schemas/FaceLivenessCompleteResult"
          description: FACE_LIVENESS-only payload. `start` returns streaming credentials;
            `complete` returns the pass/fail result. Omitted for
            ID_VERIFICATION.
      required:
        - step_id
        - step_status
        - failure_reason
        - current_step
        - attempts_remaining
        - session_status
        - session_progress
      description: Step submission result envelope. All runnable steps share the
        common fields; FACE_LIVENESS additionally returns a `liveness` object.
    FaceLivenessStartResult:
      type: object
      properties:
        liveness_session_id:
          type: string
          description: Rekognition Face Liveness session id the device streams to.
        region:
          type: string
          example: us-east-1
        credentials:
          $ref: "#/components/schemas/FaceLivenessStepCredentials"
        expires_at:
          type: string
          description: ISO 8601 when the vended credentials expire.
      required:
        - liveness_session_id
        - region
        - credentials
        - expires_at
    FaceLivenessStepCredentials:
      type: object
      properties:
        access_key_id:
          type: string
        secret_access_key:
          type: string
        session_token:
          type: string
        expiration:
          type: string
          description: ISO 8601 expiry of the vended STS credentials.
      required:
        - access_key_id
        - secret_access_key
        - session_token
        - expiration
      description: Temporary AWS credentials scoped to
        rekognition:StartFaceLivenessSession (~15 minutes).
    FaceLivenessCompleteResult:
      type: object
      properties:
        status:
          type: string
          description: Normalized Rekognition liveness status (e.g. SUCCEEDED, FAILED).
          example: SUCCEEDED
        confidence:
          type:
            - number
            - "null"
          description: Liveness confidence score when available; null when Rekognition
            omits it.
          example: 93.1
        passed:
          type: boolean
          description: True when status is SUCCEEDED and confidence meets the step's
            configured threshold.
      required:
        - status
        - confidence
        - passed
    WorkflowStepSubmission:
      anyOf:
        - $ref: "#/components/schemas/IdVerificationStepSubmission"
        - $ref: "#/components/schemas/FaceLivenessStepSubmission"
      description: Submission body for a workflow step. The accepted shape depends on
        the step type and on the step's stored config — e.g. an ID verification
        step with require-secondary-id requires secondary upload slots.
        Front-vs-back capture for ID verification is decided per declared
        document type (passports are front-only).
    IdVerificationStepSubmission:
      type: object
      properties:
        document_type:
          type: string
        secondary_document_type:
          type: string
          description: Declared type of the secondary document. Required when the step
            config sets require-secondary-id; each document is classified
            against its own declared type.
        tertiary_document_type:
          type: string
          description: Declared type of the tertiary document. Required when the step
            config sets require-tertiary-id.
        uploads:
          type: object
          properties:
            id_front:
              type: string
            id_back:
              type: string
            secondary_id_front:
              type: string
            secondary_id_back:
              type: string
            tertiary_id_front:
              type: string
            tertiary_id_back:
              type: string
            selfie_front:
              type: string
          required:
            - id_front
            - selfie_front
      required:
        - document_type
        - uploads
    FaceLivenessStepSubmission:
      type: object
      properties:
        action:
          type: string
          enum:
            - start
            - upload-url
            - complete
          description: "`start` mints a Rekognition liveness session and returns streaming
            credentials; `upload-url` (custom provider only) mints upload URLs
            for the captured frames/clip; `complete` fetches the result
            server-side."
          example: start
        frame_count:
          type: integer
          minimum: 1
          maximum: 8
          description: Number of captured frames to mint upload URLs for. Required when
            `action` is `upload-url`.
          example: 4
        clip_mime_type:
          type: string
          minLength: 1
          description: Optional full-attempt replay clip mime type, used only when
            `action` is `upload-url`. An absent/unknown mime yields no clip url.
          example: video/mp4
      required:
        - action
    CreateBankStatementResponse:
      type: object
      properties:
        bankStatementId:
          type: string
        bankStatementUrl:
          type: string
        externalId:
          type: string
        links:
          type: array
          items: {}
      required:
        - bankStatementId
        - bankStatementUrl
        - links
    CreateBankStatementRequest:
      type: object
      properties:
        email:
          type: string
          example: applicant@example.com
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Doe
        phone:
          type: string
          pattern: ^\+[1-9]\d{9,14}$
          example: "+15192223333"
        period:
          type: string
          enum:
            - "3"
            - "6"
            - "9"
          default: "3"
          description: Lookback window in months for the bank statement.
        externalId:
          type: string
        sendEmailInvite:
          type: boolean
        sendPhoneInvite:
          type: boolean
      required:
        - email
        - firstName
        - lastName
        - phone
    ListBankStatementsResponse:
      type: object
      properties:
        bankStatements:
          type: array
          items:
            $ref: "#/components/schemas/BankStatementRecord"
        nextToken:
          type:
            - string
            - "null"
      required:
        - bankStatements
        - nextToken
    BankStatementRecord:
      type: object
      properties:
        id:
          type: string
        organizationId:
          type: string
        userId:
          type: string
        senderUserId:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        status:
          type: string
        type:
          type: string
        externalId:
          type: string
        Config:
          type: object
          additionalProperties: {}
        statement:
          type: object
          additionalProperties: {}
          description: Parsed bank-statement payload. Only present when status is completed.
      required:
        - id
        - organizationId
        - userId
        - senderUserId
        - createdAt
        - updatedAt
        - status
        - type
    CreateCreditTermsResponse:
      type: object
      properties:
        creditTermsId:
          type: string
        creditTermsUrl:
          type: string
        externalId:
          type: string
        links:
          type: array
          items: {}
      required:
        - creditTermsId
        - creditTermsUrl
        - links
    CreateCreditTermsRequest:
      type: object
      properties:
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Doe
        businessName:
          type: string
          example: Acme Co.
        businessEmail:
          type: string
          example: ap@acme.com
        businessAddress:
          type: string
        requestedCreditAmount:
          type: number
          minimum: 0
          example: 25000
        requestedCreditPeriod:
          type: string
          enum:
            - "30"
            - "60"
            - "90"
          default: "30"
          description: Net terms in days requested by the applicant.
        externalId:
          type: string
        sendEmailInvite:
          type: boolean
      required:
        - firstName
        - lastName
        - businessName
        - businessEmail
        - businessAddress
        - requestedCreditAmount
    ListCreditTermsResponse:
      type: object
      properties:
        creditTerms:
          type: array
          items:
            $ref: "#/components/schemas/BankStatementRecord"
        nextToken:
          type:
            - string
            - "null"
      required:
        - creditTerms
        - nextToken
    CreateCreditCheckResponse:
      type: object
      properties:
        id:
          type: string
        session_url:
          type: string
        type:
          type: string
          description: Resolved session type — credit-check-hard or credit-check-soft.
        externalId:
          type: string
        links:
          type: array
          items:
            $ref: "#/components/schemas/Link"
      required:
        - id
        - session_url
        - type
        - links
    CreateCreditCheckRequest:
      type: object
      properties:
        email:
          type: string
          example: applicant@example.com
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Doe
        phone:
          type: string
          pattern: ^\+[1-9]\d{9,14}$
          example: "+15192223333"
          description: Phone number in E.164 format.
        externalId:
          type: string
        sendEmailInvite:
          type: boolean
        sendPhoneInvite:
          type: boolean
        redirectUrl:
          type: string
          format: uri
          description: HTTPS URL the applicant is sent to after completing the check.
        uat:
          type: boolean
          description: When true, the session is created for UAT and is not billed.
            Equifax inquiry is skipped.
        uatType:
          type: string
          description: UAT scenario id. Only meaningful when uat=true.
      required:
        - email
        - firstName
        - lastName
        - phone
      description: Body for creating a hard or soft credit-check session. Snake_case
        keys are also accepted.
    AuthVerifyResponse:
      type: object
      properties:
        valid:
          type: boolean
          enum:
            - true
          example: true
          description: Always `true` on a 200 response. Indicates the API key is valid and
            the organization is active.
        organization:
          $ref: "#/components/schemas/AuthVerifyOrganization"
      required:
        - valid
        - organization
    AuthVerifyOrganization:
      type: object
      properties:
        id:
          type: string
          example: org_a1b2c3d4e5f6
          description: Unique identifier of the organization the API key belongs to.
        name:
          type: string
          example: Acme Inc.
          description: Display name of the organization.
        status:
          type: string
          example: active
          description: Organization status. `active` for a successful connection test.
      required:
        - id
        - name
        - status
    ListOAuthClientsResponse:
      type: object
      properties:
        clients:
          type: array
          items:
            $ref: "#/components/schemas/OAuthClient"
      required:
        - clients
    OAuthClient:
      type: object
      properties:
        client_id:
          type: string
        name:
          type: string
        description:
          type: string
        type:
          type: string
        auth_model:
          type: string
        authentication_method:
          type: string
        redirect_uris:
          type: array
          items:
            type: string
        bound_user:
          $ref: "#/components/schemas/OAuthBoundUser"
        sandbox:
          type: boolean
        integration_status:
          type: string
      required:
        - client_id
        - name
        - description
        - type
        - auth_model
        - authentication_method
        - redirect_uris
        - bound_user
        - sandbox
        - integration_status
      description: Representation of the shared public OAuth client used by hosted MCP
        login.
    OAuthBoundUser:
      type: object
      properties:
        userId:
          type: string
        organizationId:
          type: string
        username:
          type: string
        displayName:
          type: string
      required:
        - userId
        - organizationId
        - username
        - displayName
    OAuthMutationUnsupportedResponse:
      type: object
      properties:
        error:
          type: string
      required:
        - error
      description: Returned with HTTP 410 from create/rotate/revoke endpoints. Clients
        use a fixed public client and are not mutated separately.
    OAuthClientCreateBody:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 500
        type:
          $ref: "#/components/schemas/OAuthClientType"
        redirectUris:
          type: array
          items:
            type: string
            format: uri
          minItems: 1
          description: Required when type is custom; otherwise inferred from preset.
      required:
        - name
        - type
      description: "Body for creating an OAuth client. NOTE: this endpoint currently
        returns 410 — clients use a fixed public client and authenticate with
        email and password."
    OAuthClientType:
      type: string
      enum:
        - claude
        - custom
    PepSanctionsResponse:
      type: object
      properties:
        totalMatches:
          type: integer
        peps:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              country:
                type:
                  - string
                  - "null"
              dateOfBirth:
                type:
                  - string
                  - "null"
              confidence:
                type: number
                minimum: 0
                maximum: 1
              datasets:
                type: array
                items:
                  type: string
            required:
              - name
              - country
              - dateOfBirth
              - confidence
              - datasets
        sanctions:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              country:
                type:
                  - string
                  - "null"
              dateOfBirth:
                type:
                  - string
                  - "null"
              confidence:
                type: number
                minimum: 0
                maximum: 1
              datasets:
                type: array
                items:
                  type: string
            required:
              - name
              - country
              - dateOfBirth
              - confidence
              - datasets
        both:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              country:
                type:
                  - string
                  - "null"
              dateOfBirth:
                type:
                  - string
                  - "null"
              confidence:
                type: number
                minimum: 0
                maximum: 1
              datasets:
                type: array
                items:
                  type: string
            required:
              - name
              - country
              - dateOfBirth
              - confidence
              - datasets
        searchedSources:
          type: array
          items:
            type: string
      required:
        - totalMatches
        - peps
        - sanctions
        - both
        - searchedSources
      description: Normalized result of a PEP & sanctions screening. Matches are
        deduped by (name, dataset) with confidence 0–1 (higher = better).
    PepSanctionsRequest:
      type: object
      properties:
        email:
          type: string
          example: applicant@example.com
        firstName:
          type: string
          minLength: 1
          maxLength: 255
        lastName:
          type: string
          minLength: 1
          maxLength: 255
        dateOfBirth:
          type: string
          format: date
      required:
        - firstName
        - lastName
        - dateOfBirth
    AsyncJobAccepted:
      type: object
      properties:
        jobId:
          type: string
        status:
          type: string
          enum:
            - pending
            - processing
            - ready
            - failed
        message:
          type: string
      required:
        - jobId
        - status
        - message
      description: Acknowledgement that an async job was queued (202) or that an
        existing job was returned for a reused Idempotency-Key (200). Poll GET
        /v1/async-jobs/{jobId} for the result.
    AdverseMediaRequest:
      type: object
      properties:
        email:
          type: string
          example: applicant@example.com
        firstName:
          type: string
          minLength: 1
          maxLength: 255
        lastName:
          type: string
          minLength: 1
          maxLength: 255
        dateOfBirth:
          type: string
          format: date
        country:
          type: string
          pattern: ^[A-Z]{2}$/i
      required:
        - firstName
        - lastName
        - dateOfBirth
    TitleCheckRequest:
      type: object
      properties:
        email:
          type: string
          example: applicant@example.com
        firstName:
          type: string
          minLength: 1
          maxLength: 255
        lastName:
          type: string
          minLength: 1
          maxLength: 255
        address:
          type: string
          minLength: 1
          maxLength: 500
      required:
        - email
        - firstName
        - lastName
        - address
    AsyncJobResponse:
      oneOf:
        - $ref: "#/components/schemas/AsyncJobPending"
        - $ref: "#/components/schemas/AsyncJobProcessing"
        - $ref: "#/components/schemas/AsyncJobReady"
        - $ref: "#/components/schemas/AsyncJobFailed"
      discriminator:
        propertyName: status
        mapping:
          pending: "#/components/schemas/AsyncJobPending"
          processing: "#/components/schemas/AsyncJobProcessing"
          ready: "#/components/schemas/AsyncJobReady"
          failed: "#/components/schemas/AsyncJobFailed"
      description: "Async job status. Discriminated on `status`: pending, processing,
        ready (includes result), or failed (includes error)."
    AsyncJobPending:
      type: object
      properties:
        jobId:
          type: string
        createdAt:
          type: number
        updatedAt:
          type: string
        status:
          type: string
          enum:
            - pending
      required:
        - jobId
        - createdAt
        - updatedAt
        - status
    AsyncJobProcessing:
      type: object
      properties:
        jobId:
          type: string
        createdAt:
          type: number
        updatedAt:
          type: string
        status:
          type: string
          enum:
            - processing
      required:
        - jobId
        - createdAt
        - updatedAt
        - status
    AsyncJobReady:
      type: object
      properties:
        jobId:
          type: string
        createdAt:
          type: number
        updatedAt:
          type: string
        status:
          type: string
          enum:
            - ready
        result: {}
      required:
        - jobId
        - createdAt
        - updatedAt
        - status
    AsyncJobFailed:
      type: object
      properties:
        jobId:
          type: string
        createdAt:
          type: number
        updatedAt:
          type: string
        status:
          type: string
          enum:
            - failed
        error:
          type: string
      required:
        - jobId
        - createdAt
        - updatedAt
        - status
        - error
    Profile:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        organizationId:
          type: string
        logoUrl:
          type:
            - string
            - "null"
        createdAt:
          type: string
        updatedAt:
          type: string
      required:
        - id
        - name
        - organizationId
        - createdAt
        - updatedAt
    CreateProfileRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: Acme Branding
          description: Display name for the branding profile.
        logoUrl:
          type: string
          example: org-id/profiles/logos/uuid
          description: S3 object key from POST /v1/profiles/logo-upload-url. Omit to
            create a profile without a logo.
      required:
        - name
    ListProfilesResponse:
      type: object
      properties:
        profiles:
          type: array
          items:
            $ref: "#/components/schemas/Profile"
      required:
        - profiles
    LogoUploadUrlResponse:
      type: object
      properties:
        uploadUrl:
          type: string
          description: S3 presigned PUT URL. Upload the logo as the raw request body with
            the matching Content-Type header.
        fileKey:
          type: string
          description: S3 object key. Pass this as `logoUrl` when creating or updating the
            profile.
      required:
        - uploadUrl
        - fileKey
    LogoUploadUrlRequest:
      type: object
      properties:
        contentType:
          type: string
          enum:
            - image/jpeg
            - image/png
            - image/webp
            - image/gif
          example: image/png
          description: "MIME type of the logo. Supported: image/jpeg, image/png,
            image/webp, image/gif."
        byteLength:
          type: integer
          exclusiveMinimum: 0
          maximum: 15728640
          example: 102400
          description: File size in bytes. Signed into the presigned URL — the PUT must
            send exactly this many bytes. Maximum 15 MiB.
      required:
        - contentType
        - byteLength
    PresignUrlResponse:
      type: object
      properties:
        uploads:
          type: array
          items:
            $ref: "#/components/schemas/PresignUrlEntry"
      required:
        - uploads
    PresignUrlEntry:
      type: object
      properties:
        uploadUrl:
          type: string
          description: S3 presigned PUT URL. Send the file as the request body.
        fileKey:
          type: string
          description: S3 object key that the file will live under once uploaded. Pass
            this key to downstream endpoints (e.g. /v1/document/scan) in place
            of the binary payload.
      required:
        - uploadUrl
        - fileKey
    PresignUrlRequest:
      type: object
      properties:
        files:
          type: array
          items:
            $ref: "#/components/schemas/PresignUrlFile"
          minItems: 1
          description: One entry per file the caller intends to upload. The array length
            determines how many presigned URLs are returned, in matching order.
      required:
        - files
    PresignUrlFile:
      type: object
      properties:
        contentType:
          type: string
          minLength: 1
          example: image/jpeg
          description: MIME type of the file. The presigned URL is bound to this content
            type — the PUT must send the same `Content-Type` header or S3
            returns 403.
        byteLength:
          type: integer
          exclusiveMinimum: 0
          maximum: 15728640
          example: 263582
          description: Size of the file in bytes. Signed into the URL via `Content-Length`
            so the PUT must send exactly this many bytes. Maximum 15728640 bytes
            (15 MiB).
      required:
        - contentType
        - byteLength
    AnalyzeInjectionResponse:
      type: object
      properties:
        verdict:
          type: string
          enum:
            - HIT
            - CLEAR
            - UNAVAILABLE
        action:
          type: string
        confidence:
          type:
            - number
            - "null"
        escalation:
          type:
            - object
            - "null"
          properties:
            type:
              type: string
            check:
              type: string
              enum:
                - injection-detection
          required:
            - type
            - check
      required:
        - verdict
        - action
        - confidence
        - escalation
    AnalyzeInjectionRequest:
      type: object
      properties:
        session_id:
          type: string
          minLength: 1
        device_integrity:
          $ref: "#/components/schemas/InjectionSignal"
        media_source:
          $ref: "#/components/schemas/InjectionSignal"
        frame_timing:
          $ref: "#/components/schemas/InjectionSignal"
      required:
        - session_id
      description: Signals for injection/spoofing detection on a verification session.
    InjectionSignal:
      type: object
      properties:
        pass:
          type: boolean
        score:
          type: number
          minimum: 0
          maximum: 100
        signals:
          type: array
          items:
            type: string
          default: []
      required:
        - pass
        - score
    IpCheckResponse:
      type: object
      properties:
        verdict:
          type: string
          enum:
            - HIT
            - CLEAR
            - UNAVAILABLE
        action:
          type: string
        evidence:
          type: object
          additionalProperties: {}
        escalation:
          type:
            - object
            - "null"
          properties:
            decision:
              type: string
              enum:
                - ESCALATE
            type:
              type: string
            reason:
              type: string
          required:
            - decision
            - type
            - reason
      required:
        - verdict
        - action
        - evidence
        - escalation
    AnalyzeIpCheckRequest:
      type: object
      properties:
        session_id:
          type: string
          minLength: 1
        ip_address:
          type: string
          minLength: 1
      required:
        - session_id
        - ip_address
      description: Body for an IP-based iGaming check (jurisdiction or VPN/anonymizer)
        on a session.
    AntiCheatResponse:
      type: object
      properties:
        verdict:
          type: string
          enum:
            - DUPLICATE
            - UNIQUE
            - UNAVAILABLE
            - SELF_EXCLUSION
        action:
          type: string
          enum:
            - allow
            - flag
            - manual-review
            - block
      required:
        - verdict
        - action
    AnalyzeAntiCheatRequest:
      type: object
      properties:
        session_id:
          type: string
          minLength: 1
        image:
          type: string
          minLength: 1
        device_fingerprint:
          type: string
      required:
        - session_id
        - image
      description: Anti-cheat analysis (face-dedup + multi-accounting +
        self-exclusion) for a session.
    SelfExclusionListResponse:
      type: object
      properties:
        entries:
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                      - identity
                  document_number:
                    type: string
                  reason:
                    type:
                      - string
                      - "null"
                  added_by:
                    type:
                      - string
                      - "null"
                  added_at:
                    type:
                      - string
                      - "null"
                  first_name:
                    type: string
                  last_name:
                    type: string
                required:
                  - type
                  - document_number
                  - reason
                  - added_by
                  - added_at
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                      - face
                  session_id:
                    type: string
                  reason:
                    type:
                      - string
                      - "null"
                  excluded_at:
                    type:
                      - string
                      - "null"
                required:
                  - type
                  - session_id
                  - reason
                  - excluded_at
        truncated:
          type: boolean
      required:
        - entries
        - truncated
    SelfExclusionIdentityAddResponse:
      type: object
      properties:
        excluded:
          type: array
          items:
            type: object
            properties:
              document_number:
                type: string
              status:
                type: string
                enum:
                  - added
                  - already_excluded
                  - invalid
            required:
              - document_number
              - status
      required:
        - excluded
    SelfExclusionIdentityAddRequest:
      type: object
      properties:
        document_number:
          type: string
          minLength: 1
        document_numbers:
          type: array
          items:
            type: string
            minLength: 1
          minItems: 1
        reason:
          type: string
        first_name:
          type: string
        last_name:
          type: string
      description: Add one or more document numbers to the org's self-exclusion registry.
    SelfExclusionIdentityRemoveResponse:
      type: object
      properties:
        removed:
          type: boolean
        face_unexcluded:
          type: boolean
      required:
        - removed
        - face_unexcluded
    SelfExclusionFaceResponse:
      type: object
      properties:
        excluded:
          type: boolean
        session_id:
          type: string
        reason:
          type: string
        matched_session_id:
          type: string
      required:
        - excluded
    SelfExclusionFaceRequest:
      type: object
      properties:
        session_id:
          type: string
          minLength: 1
        reason:
          type: string
      required:
        - session_id
      description: Exclude the enrolled face on a session.
    SelfExclusionFaceRemoveResponse:
      type: object
      properties:
        unexcluded:
          type: boolean
        matched_session_id:
          type: string
      required:
        - unexcluded
    AntiCheatPurgeResponse:
      type: object
      properties:
        deleted:
          type: boolean
        face_id:
          type:
            - string
            - "null"
      required:
        - deleted
        - face_id
    SelfExclusionApplicantResponse:
      type: object
      properties:
        face_attached:
          type: boolean
        document_number:
          type:
            - string
            - "null"
        identity_status:
          type: string
          enum:
            - added
            - already_excluded
        matched_session_id:
          type: string
        message:
          type: string
      required:
        - face_attached
        - document_number
    SelfExclusionApplicantRequest:
      type: object
      properties:
        session_id:
          type: string
          minLength: 1
        reason:
          type: string
      required:
        - session_id
      description: "Exclude an applicant by session: flags the face (with
        matched-session fallback) and, if the session has a scanned document
        number, adds an identity exclusion linked to that face."
    AmlIngestResponse:
      type: object
      properties:
        accepted:
          type: integer
          description: Records STORED — clean and warned. `warned` is an informational
            subset of this.
        warned:
          type: integer
        rejected:
          type: integer
          description: Records that were not stored.
        results:
          type: array
          items:
            $ref: "#/components/schemas/AmlRecordResult"
      required:
        - accepted
        - warned
        - rejected
        - results
      description: A well-formed envelope always returns 200. Per-record outcomes are
        DATA, not transport errors — always inspect `results`.
    AmlRecordResult:
      type: object
      properties:
        index:
          type: integer
          description: Zero-based position in the submitted batch.
        client_txn_id:
          type:
            - string
            - "null"
        status:
          type: string
          enum:
            - accepted
            - warned
            - rejected
        warnings:
          type: array
          items:
            type: string
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              field:
                type:
                  - string
                  - "null"
                description: Dotted path to the offending field, in snake_case.
                example: amount.value
              message:
                type: string
            required:
              - code
              - field
              - message
      required:
        - index
        - client_txn_id
        - status
    AmlQuotaExceeded:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
          enum:
            - QUOTA_EXCEEDED
        quota:
          type: integer
        used:
          type: integer
        remaining:
          type: integer
        month:
          type: string
          example: 2026-08
        resets_at:
          type: string
          example: 2026-09-01T00:00:00.000Z
      required:
        - error
        - code
        - quota
        - used
        - remaining
        - month
        - resets_at
      description: Nothing was stored. Reservation is atomic and happens before any write.
    AmlTransactionBatch:
      type: object
      properties:
        bot_id:
          type: string
          minLength: 1
          description: Enrol subjects into this specific transaction_risk bot. Omit it
            when the organization has exactly one running transaction_risk bot;
            we never auto-select among several.
        transactions:
          type: array
          items:
            $ref: "#/components/schemas/AmlTransactionRecord"
          minItems: 1
          maxItems: 500
      required:
        - transactions
      description: Up to 500 records or 5 MB per request, whichever is smaller. A bare
        JSON array of records is also accepted. Both snake_case and camelCase
        keys are accepted; `metadata` keys are never converted.
    AmlTransactionRecord:
      type: object
      properties:
        client_txn_id:
          type: string
          minLength: 1
          maxLength: 128
          description: Your own unique identifier for this transaction. Re-posting the
            same id updates the same record — this is what makes ingest
            idempotent. Max 128 characters.
          example: txn-000123
        subject_user_id:
          type: string
          minLength: 1
          description: Your own identifier for the customer this transaction belongs to. A
            subject is auto-provisioned and enrolled in monitoring on first
            sight.
          example: cust-8821
        timestamp:
          type: string
          description: When the transaction occurred (ISO-8601).
          example: 2026-08-01T09:00:00Z
        direction:
          type: string
          enum:
            - inbound
            - outbound
            - internal
        amount:
          $ref: "#/components/schemas/AmlAmount"
        type:
          type: string
          enum:
            - card
            - wire
            - eft
            - ach
            - crypto
            - cash
            - internal_transfer
            - other
        normalized_amount:
          $ref: "#/components/schemas/AmlNormalizedAmount"
        fx_rate:
          type: number
        status:
          type: string
          enum:
[...]
